@font-face {
  font-family: "agaalenbold-roman";
  src: url("../fonts/agaalenbold-roman_[allfont.ru].ttf");
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/ofont.ru_Arial.ttf");
}

@font-face {
  font-family: "  ag_souvenir";
  src: url("../fonts/ag_souvenir_[allfont.ru].ttf");
}

@font-face {
  font-family: " bigs";
  src: url("../fonts/big.ttf");
}

@font-face {
  font-family: "smol";
  src: url("../fonts/cooper.ttf");
}

@font-face {
  font-family: "big";
  src: url("../fonts/aabig.ttf");
}

@font-face {
  font-family: "Roman";
  src: url("../fonts/Roman.otf");
}

@font-face {
  font-family: "AR";
  src: url("../fonts/AR.otf");
}

.wrapper {
  width: 100%;
  height: 1800px;
  background: #d6e6ef;
}

.container {
  width: 1024px;
}

.head {
  width: inherit;
  height: 14%;
}

.logo {
  font-family: agaalenbold-roman;
  font-size: 190%;
  color: #299fca;
}

.down-logo {
  font-family: Arial;
  font-size: 44%;
  padding-left: 4%;
  color: #299fca;
}

.logo-rootate {
  padding-top: 8%;
  position: relative;
  left: 20%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-a {
  font-family: ag_souvenir;
  font-size: 105%;
  color: white;
}

.navmenu {
  width: 65%;
}

.menu-li {
  padding-top: 5%;
}

.background {
  background: url("../img/cloudone.png") no-repeat center;
  background-size: 100% 100%;
  width: 100%;
  height: 1000px;
  z-index: 1;
  position: relative;
}

.up {
  background: url("../img/up.png") no-repeat center;
  background-size: 100% 100%;
  width: 20%;
  height: 30%;
  position: absolute;
  top: 58%;
  left: 13%;
}

.backgroundtwo {
  background: url("../img/cloudtwo.png") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 60%;
  top: 44%;
}

.planeimg {
  background: url("../img/plane.png") no-repeat center;
  background-size: 100% 100%;
  width: 86%;
  height: 60%;
}

.form {
  width: 100%;
  height: 47%;
}

.long {
  height: 100%;
}

.form-img {
  background: url("../img/form.png") no-repeat center;
  background-size: 100% 100%;
  width: 100%;
  height: 120%;
  opacity: 0.9;
  position: relative;
  right: 30%;
}

.planeimg-h1 {
  font-family: big;
  font-size: 300%;
  color: #127ea5;
  padding: 16% 0% 0% 43%;
}

.planeimg-p {
  position: relative;
  bottom: 4%;
  font-family: smol;
  font-size: 150%;
  color: #ded90e;
  padding: 0% 0% 0% 43%;
  line-height: 105%;
}

.back {
  width: inherit;
  height: 130px;
  background: url(../img/header.png) no-repeat;
}

.form_name {
  font-family: Roman;
  font-size: 100%;
  color: white;
}

.nameemail {
  border-style: solid;
  border-color: #a7d1e6;
  border-radius: 7px;
  width: 45%;
}

.drop {
  background: url("../img/droparrow.png") no-repeat right;
  background-color: white;
  border-style: solid;
  border-color: #a7d1e6;
  border-radius: 7px;
  width: 45%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #299fca;
  font-family: Roman;
}

.message {
  width: 50%;
  height: 50px;
  border-style: solid;
  border-color: #a7d1e6;
  border-radius: 7px;
}

.form-sub {
  background: #eae00e;
  color: #6db3ec;
  border-radius: 5px;
  border: #eae00e;
  width: 25%;
  font-family: AR;
}

.online {
  font-family: AR;
  color: white;
  font-size: Roman;
}
/*# sourceMappingURL=style.css.map */